---
import type { DocsEntry } from "@/types";
import { Image } from "astro:assets";
const { entry } = Astro.props;
const { title, image, imageAlt } = entry.data;
---

<div class="h-full m-2 bg-gradient-to-br gradient rounded-lg overflow-hidden group shadow-lg">
  <a class="block h-full" href={`/docs/${entry.id.replace("/-index", "")}`}>
    <div class="relative w-full h-full aspect-video overflow-hidden">
      {image && (
        <Image
          class="object-cover w-full h-full group-hover:scale-110 transition-transform duration-500"
          src={image}
          alt={imageAlt || title}
          width={1280}
          height={720}
        />
      )}
    </div>
  </a>
</div>