{
  entries.map((entry) => {
    // Esta es la prueba definitiva: 
    // Si el ID termina en "/-index", es una CATEGORÍA (Caja limpia).
    // Si NO termina en "/-index", es un CURSO (Ficha con botón).
    const isCategory = entry.id.endsWith("/-index");

    return (
      <div class="md:col-6 lg:col-4 h-min p-2">
        {isCategory ? (
          <DocCard entry={entry} />
        ) : (
          <CourseCard entry={entry} />
        )}
      </div>
    );
  })
}