---
import { Image } from "astro:assets";
const { entry } = Astro.props;
const { title, image, imageAlt } = entry.data;
---

<div class="mb-14 md:col-6 lg:col-4">
  <div class="relative group overflow-hidden rounded-lg intersect:animate-fadeUp opacity-0">
    {
      image && (
        <a href={`/authors/${entry.id}`} class="block">
          <Image
            class="mx-auto rounded-lg transition-transform duration-300 group-hover:scale-105"
            src={image}
            alt={imageAlt || title}
            width={400} 
            height={250}
            loading="eager"
          />
        </a>
      )
    }
    {/* Se han eliminado los contenedores 'glass' y los títulos 'h4' */}
  </div>
</div>